$purple:#A3238E;
 

////////// CORE ////////// 
body {
	background-color: lighten($tan, 2%);
}

h1, h2, h3 {

}

p {
	font-size: 1.2em;
}

.slab {
	font-family: 'Bree Serif', Helvetica, Arial, sans-serif;
}

.navbar {
	margin-bottom: 0;
}

////////// IMAGES ////////// 
.img-border {
	border: 4px solid $gray;
}

